<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout.html">
<head>
<meta charset="UTF-8">
<title>About Page</title>
<link rel="stylesheet" href="/css/about.css"/>
</head>

<body>
	
	<section layout:fragment="content">
		<h1>About Us</h1><br>
		<p>This T3 Kitchen Tracker will help you organize your refrigerator and pantry easily.</p>
		 <p>Searching and posting recipes has never been more simple.</p><br><br>
		 <br><br>
		 <p>The T3 Kitchen Tracker started with an idea from a group of software technology engineers desiring to </p>
		<p>make a project that would be beneficial for busy individuals. Drawing from personal experience to </p>
		<p>acknowledge that sometimes it is difficult to keep track of what is in your pantry and/or refrigerator. </p>
			<p>This idea was expanded to include whole families, athletes, and professionals in the food industry.</p>
		
		<script src="/js/about.js"></script>
		<br><br>
		<a href="/userGuide">
			<p>Learn More About How to Navigate This Site</a></p>
		</a>
	</section>
</body>
</html>