<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout.html">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
<link rel="stylesheet" href="/css/index.css"/>
</head>

<body>
	
	<section layout:fragment="content">
		<h1>Welcome to YOUR Kitchen Tracker!</h1><br><br>
		<img src="/logos/Kitchen Tracker-logos_black.png" width="300" height="300">
		<h3>&emsp;&emsp;&ensp;By using our app, You can share and find food recipes</h3>
		<h3>&emsp;&emsp;&ensp;and manage the food in your refrigerator comfortably.</h3>
		
		
		
		
		<a href="/inventory" class="fridge-img">
			<img src="/img/fridge.jpg">
		</a>
		
		
		<script src="/js/index.js"></script>
	</section>
</body>
</html>
