<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout.html">
<head>
<meta charset="UTF-8">
<title>User Guide</title>
<link rel="stylesheet" href="/css/userGuide.css"/>
</head>

<body>
	<section layout:fragment="content">
		<p>Step 1: Register as a User</p>
		<img src="/img/Register.png">
		
		<p>Step 2:Login to Site</p>
		<img src="/img/Login.png">
		
		<p>Step 3: Search for recipes and Add some of your own</p>
		<p>(Only users that are logged in can add recipes)</p>
		<img src="/img/RecipeSearch.png">
		
		<p>Step 4: Manage Inventory by Adding, Editing, or Deleting items </p>
		<img src="/img/ManageInventory.png">
	</section>
	
</body>
</html>